
#graph {
	width: 100%;
	height: 400px;
}
body {
  	margin: 0;
}
#content {
	width: 900px;
	margin: 0 auto;
	margin-top: 0;
}
#headerwrap {
	width: 900px;
	margin: 0 auto;
}
#accounts {
	float: right;
}
#login {
	text-align: center;
}
.child {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(50%);
	-ms-transform: translateY(50%);
	transform: translateY(50%);
}
.ui.tiny.header {
	color: #889990;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 3px;
}

.ui.tiny.header .icon {
	font-size: 1.4em;
}

.ui.green.button {

}